$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Plaster');

$border-style: 1px solid #000;

body {
  text-align: center;
}

// div {
//   border: $border-style;
// }

h1 {
  font-family: 'Plaster', sans-serif;
  font-size: 75px;
}

// Add @media query for smart phone size

h2 {
  font-family: 'Plaster', sans-serif;
  font-weight: 100;
}

input {
  border-radius: 30px;
  height: 30px;
  margin-top: 10px;
}

th {
  border: $border-style;
  font-family: 'Plaster', sans-serif;
  font-size: 30px;
  text-align: center;
  width: 300px;
}

td {
  font-size: 15px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.row {
  width: 305px;
}

.top,
.mid {
  border-bottom: $border-style;
}

.left {
  border-right: $border-style;
}

.right {
  border-left: $border-style;
}

.container {
  margin-top: 20px;
  width: 305px;
}

.cell {
  float: left;
  font-family: 'Plaster', sans-serif;
  font-size: 70px;
  height: 100px;
  width: 100px;
}

.game-stats,
.stats-table {
  margin: auto;
  width: 605;
}

.box {
  float: left;
  font-size: 20px;
  height: 75px;
  width: 101px;
}

.footer {
  background-color: #efefef;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.btn {
  border-radius: 20px;
  margin: 5px;
}

.btn-lg {
  height: 45px;
  margin: 5px;
}

.button {
  float: right;
}
